[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
[submodule "openwrt-passwall2"]
	path = openwrt-passwall2
	url = https://github.com/xiaorouji/openwrt-passwall2
[submodule "openwrt-passwall-packages"]
	path = openwrt-passwall-packages
	url = https://github.com/xiaorouji/openwrt-passwall-packages
[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/xiaoxiao29/luci-app-adguardhome
